*, *::before, *::after{
    box-sizing: border-box;
}
*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
    interpolate-size: allow-keywords; /*this is for height: auto*/
}
body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
a.bold:hover{
    text-decoration: wavy underline;
    text-decoration-color: red;
}
img{
    max-width: 100%;
}
ul li{
    user-select: none;
}
ul li a{
    display: inline-block;
    padding: 10px 15px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}
ul li ul li a{
    font-size: 14px;
}
ul li ul li a:hover{
    color: #77af83;
}
.toggle-btn{
    cursor: pointer;
    transform: rotate(270deg);
    transition: transform 0.3s ease;
}
.bold{
    font-weight: 700;
}

/*For toggle sidebar - drop down effect*/
/* dont forget to add interpolate-size: allow-keywords; 
in html tag to make height: auto work*/
.toggle-sidebar{
    height: 0px;
    overflow: clip;
    transition: height 0.3s ease;
}
.show{
    height: auto;
}
.btn-transform{
    transform: rotate(0deg);
}

