*,*::before,*::after{
    box-sizing: border-box;
}
body{
    height: 300px;
}
.flex-box{
    height: 150%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/*parent*/
.container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
}
.container + .container{
    margin-top: 1rem;
}
/*child*/
.item{
    height: 100px;
    padding: 20px;
    background-color: red;
    color: white;
    flex: 0 1 20em;
}
